<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title>Car Register</title>
    </head>
    <body>
        <header th:fragment="header">
            <ul>
                <li><a th:href="@{/index}">HOME</a></li>
                <li><a th:href="@{/cars}">CARS</a></li>
                <li><a th:href="@{/owner}">OWNERS</a></li>
            </ul>
        </header>
        <h1>Car Register</h1>
        <!-- <section>
            <h2>Car info</h2>
            <table>
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastane</th>
                        <th>registrationnumber</th>
                        <th>brand</th>
                        <th>model</th>
                        <th>made</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=""></tr>
                </tbody>
            </table>
        </section> -->
    </body>
    </html>
    <!-- Tietokannassa olevia autoja omistajineen on myös pystyttävä listaamaan.Listauksessa pitää näkyä omistajan etu ja sukunimi ja autosta rekisterinumero, merkki, malli ja valmistumisvuosi.Tiedot näytetään taulukkomuodossa. Sivulla näytettävien tietojen määrää pitää rajata kymmeneen.  -->